<!DOCTYPE html>
<html>
<head>
    <title>rchtct</title>
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One|Exo:400,700|Share:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand rchtct exo" href="/">
                rchtct
            </a>
            <ul class="nav">
                <li>
                    <a><i class="icon-<%= content_for?(:icon) ? yield(:icon) : 'list' %> icon-white"></i></a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Font
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a onclick="setFont('wvr')">Default</a></li>
                        <li><a onclick="setFont('exo')" style="font-family: 'Exo'">Exo</a></li>
                        <li><a onclick="setFont('sonsie')" style="font-family: 'Sonsie One'">Sonsie One</a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li><a><i class="icon-user icon-white"></i></a></li>
                <% if logged_in? %>
                    <li><%= link_to current_user.username, edit_current_user_path %></li>
                    <li><%= link_to "Logout", logout_path %></li>
                <% else %>
                    <li><%= link_to "Sign Up", signup_path %></li>
                    <li><%= link_to "Login", login_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<div class="container body">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert #{alert_class(name)}", id: "flash_#{name}" do %>
            <a class="close" data-dismiss="alert">&times;</a>
            <%= msg %>
        <% end %>
    <% end %>
    <div class="page-header">
        <% if content_for? :page_header %>
            <%= yield(:page_header) %>
        <% else %>
            <h1 class="exo"><%= yield(:title) %></h1>
        <% end %>
    </div>
    <%= yield %>
</div>
</body>
</html>
